/* fonts */
@font-face {
  font-family: "IBMplex-mono";
  src: url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "IBMplex-sans";
  src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf")
    format("truetype");
}
/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: IBMplex-sans;
  color: black;
}
img {
  height: 100%;
  width: fit-content;
}
p {
  font-family: IBMplex-sans;
  font-size: 1rem;
  line-height: 110%;
  margin: 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eng {
  opacity: 0.4;
}

/* CANVAS */
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;

  background: rgb(238, 238, 238);
  background: linear-gradient(
    180deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 85%,
    rgba(201, 255, 76, 1) 100%
  );
}
.container {
  position: relative;
  height: 100vh;
  width: 100vh;
  width: fit-content;
  padding: 100px;
}
.container.full {
  width: 100%;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 2;
}

/* LOADING */
#loading {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;

  gap: 3vh;

  z-index: 500;
}
#loading-img {
  height: 30vh;
  width: auto;
}
/* VIDEO TUTORIAL */
#tutorial {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100vh;

  object-fit: cover;
  z-index: 9999;
}
#tutorial.show {
  display: block;
}

/* SUBTITLE */
#subtitle {
  font-size: 1.75rem;
  line-height: 2rem;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 50%;
}

/* INSTRUCTIONS */
#ins-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 3vh;

  z-index: 500;
}
.instructions {
  gap: 1vw;
  justify-content: center;
  align-items: center;
  font-family: IBMplex-sans;
  color: black;
  display: flex;
  flex-direction: row;
}
.instructions.tree {
  flex-direction: column;
  gap: 0;
  text-align: left;
}
.instructions > p {
  font-size: 1.5rem;
}

/* LEGENDA  delle mani */
/* #legend {
  text-align: center;
  position: fixed;
  top: 1vh;
  right: 1vh;
  display: flex;
  flex-direction: column;
  background: #c9ff4c;
  color: black;
  z-index: 5;
  padding: 0.5vh;
}
#legend > p {
  font-size: 12px;
} */
#hands-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.hand {
  width: auto;
  height: 5vh;
}

/* STORY */
.image {
  width: 20vw;
  align-self: center;
  margin: none;
  padding: none;
  vertical-align: bottom;
}
.box {
  font-family: IBMplex-sans;
  margin: none;
  padding: 0.25vw;
}
.info {
  font-family: IBMplex-mono;
  margin: none;
  padding: none;
  font-size: smaller;
  padding-bottom: 0.25vw;
}
.storycontainer {
  width: 20vw;
  position: absolute;
  z-index: 10;
  padding: none;
  margin: none;
  border: solid 0.25vw #c9ff4c;
  background: #ffffff;
  font-size: 1vw;
  box-sizing: content-box;
}

/* WARNING */
#warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: 300;
}
#warning-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 300;
}
.overlaybox {
  display: block;
  margin: auto;
  border: #c9ff4c 2px solid;
  background-color: #eeeeee;
  width: auto;
  height: auto;
  gap: 1vh;
  padding: 1vh;
  z-index: 450;
}
#endCounter {
  font-size: 1.75rem;
  text-align: center;
}
.gap {
  gap: 1vh;
}
@keyframes appear {
  from {
    visibility: hidden;
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    visibility: visible;
    opacity: 100%;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}
