/* fonts */
@font-face {
  font-family: "IBMplex-mono";
  src: url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "IBMplex-sans";
  src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf")
    format("truetype");
}

:root {
  --prak: #c9ff4c;
  --bg-grey: #eeeeee;

  --testi: 1rem;
  --info: 0.75rem;
  --instruction: 1.25rem;
  --subtitle: 1.75rem;
  --subtitle-eng: 1.5rem;

  --mini-spacer: 0.25vw;
  --spacer1: 1vh;
  --spacer2: 1.25;
  --spacer3: 2.5vh;

  --ins-margin: 2vw;
  --icon: 4vw;
  --hand: 4vh;
  --explore: 7.5vh;

  --img-height: 25vh;
  --img-story: 25vw;
  --intro-story: 50vh;
}

/* //////////////////// */

/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: IBMplex-sans;
  color: black;
}
img {
  height: 100%;
  width: fit-content;
}
p {
  font-size: var(--testi);
  line-height: 110%;
}

/* CANVAS */
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;

  background: rgb(238, 238, 238);
  background: linear-gradient(
    180deg,
    var(--bg-grey) 0%,
    rgba(238, 238, 238, 1) 85%,
    var(--prak) 100%
  );
}
.container {
  position: relative;
}
canvas {
  z-index: 2;
}

/* LOADING */
#loading {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;

  gap: var(--spacer3);

  z-index: 750;
}
#loading-img {
  height: var(--img-height);
  width: auto;
}
/* VIDEO TUTORIAL */
#tutorial {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100vh;

  object-fit: cover;
  z-index: 1000;
}
#tutorial.show {
  display: block;
}

/* SUBTITLE */
#subtitle {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 50%;

  font-size: var(--subtitle);
  line-height: 2rem;
  text-align: center;
}
#subtitle > .eng {
  font-size: var(--subtitle-eng);
}

/* INSTRUCTIONS */
#ins-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 100%;

  z-index: 200;
}
#ins-container.bottom {
  bottom: 2vw;
}
#ins-container.top {
  top: 2vw;
}
.double {
  justify-content: space-between;
  padding: 0 2vw;
}
.single {
  justify-content: space-around;
}
.icon {
  width: 4vh;
}
.instructions {
  gap: 1vw;
  justify-content: center;
  align-items: center;
  color: black;
  display: flex;
  flex-direction: row;
}
.instructions.tree {
  flex-direction: column;
  gap: 0;
  text-align: left;
}
.instructions > p {
  font-size: var(--instruction);
  margin: 0;
}

.eng.tree {
  font-size: var(--text);
  width: 100%;
}

#hands-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacer1);
}
.hand {
  width: auto;
  height: var(--hand);
}
.explore {
  height: var(--explore);
}

/* WARNING */
#warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 300;
}
#warning-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 300;
}
.overlaybox {
  display: block;
  margin: auto;
  border: var(--prak) 2px solid;
  background-color: var(--bg-grey);
  width: auto;
  height: auto;
  padding: var(--spacer1);
  z-index: 450;
}
#endCounter {
  font-size: var(--subtitle);
  text-align: center;
  margin: 0;
}

/* STORY */
.image {
  width: var(--img-story);
  align-self: center;
  vertical-align: bottom;
}
.box {
  padding: var(--mini-spacer);
}
.info {
  font-family: IBMplex-mono;
  font-size: var(--testi);
  padding-bottom: var(--mini-spacer);
}
.storycontainer {
  width: var(--img-story);
  position: absolute;
  z-index: 250;

  border: solid var(--mini-spacer) var(--prak);
  background: #ffffff;
  font-size: var(--testi);
  box-sizing: content-box;
}
.introcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: none;
  width: var(--intro-story);
  font-size: var(--instruction);
  text-align: center;
  gap: var(--spacer3);
  line-height: 110%;
  z-index: 1;
}

.introcontainer > .overlaybox {
  background-color: var(--prak);
  padding: 0;
  width: 100%;
}
#title > .eng {
  font-size: var(--testi);
}
.intro {
  text-align: left;
  font-size: var(--testi);
}
/* .intro > .eng {
  font-size: var(--info);
  line-height: 0;
} */

.gap {
  gap: 1vh;
}

/* general */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eng {
  opacity: 0.4;
}

/* ANIMAZIONI */
@keyframes appear {
  from {
    visibility: hidden;
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    visibility: visible;
    opacity: 100%;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}
