.image {
    max-width: 200px;
    max-height: 200px;
}

.box {
    position: absolute;
    max-width: 400px;
    padding: 10px;
    background: #eeeeee;
    color: #818181;
}

@keyframes appear {
    from {
        visibility: hidden;
        opacity: 0%;
    }
    to {
        visibility: visible;
        opacity: 100%;
    }
}

@keyframes disappear {
    from {
        visibility: visible;
        opacity: 100%;
    }
    to {
        visibility: hidden;
        opacity: 0%;
    }
}