/* fonts */
@font-face {
  font-family: "IBMplex-mono";
  src: url("assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "IBMplex-sans";
  src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf")
    format("truetype");
}

:root {
  --prak: #c9ff4c;
  --bg-grey: #eeeeee;
  --transparent: 255, 0, 0, 0;

  --testi: 0.9rem;
  --info: 0.7rem;
  --instruction: 1.1rem;
  --subtitle-eng: 1.3rem; /* this style is also used for the stories */
  --subtitle: 1.5rem;

  --mini-spacer: 0.25vw;
  --spacer1: 1vh;
  --spacer2: 1.25vw;
  --spacer3: 2.5vh;
  --progress-bar: 2.25vh;

  --ins-margin: 2vw;
  --ins-marginBottom: 6vw;
  --icon: 4vw;

  --camera: 15vw;
  --cameraH: calc((15 / 4 * 3) * 1vw);
  --hand: 5vh;

  --imgLoading: 25vh;

  --img-storyIntro: 5vw;
  --img-story: 22.5vw;
  --intro-story: 50vh;
}

main {
  display: none;
}

#p5-container {
  position: fixed;
  bottom: var(--ins-margin);
  right: var(--ins-margin);
  width: var(--camera);
  height: var(--cameraH);
  outline: var(--prak) var(--mini-spacer) solid;
}

#p5-container #capture {
  width: 100%;
  height: auto;
}

#p5-container canvas {
  position: absolute;
  left: 0;
}

#capture {
  transform: scale(-1, 1);
}

/* //////////////////// */

/* general */
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: IBMplex-sans;
  color: black;
}

img {
  height: 100%;
  width: fit-content;
}

p {
  font-size: var(--testi);
  line-height: 120%;
}

/* //////////////////// */

/* CANVAS */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;

  background-color: var(--bg-grey);
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
}
canvas {
  z-index: 0;
}

/* LOADING */
#loading {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background-color: var(--bg-grey);

  gap: var(--spacer3);

  z-index: 25;
}
#loading-img {
  height: var(--imgLoading);
  width: auto;
}

/* VIDEO TUTORIAL */
.tutorial {
  position: fixed;

  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;

  object-fit: cover;
  z-index: 20;
}

.show {
  display: block;
}

.video-controls {
  position: fixed;
  padding: 0 var(--ins-margin);
  bottom: 0;
  left: 0;
  height: var(--progress-bar);
  width: 100%;
  z-index: 21;
}

#progress {
  height: 40%;
  background-color: var(--prak);
  transform-origin: top left;
}

/* CURSOR */
#cursor-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 25;
  transition: transform 0.1s ease-out;
}

.loading-circle {
  width: 6.7vw;
  height: 6.7vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  background: transparent;
}

.loading-rectangle {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background: var(--prak);
  transform-origin: bottom left;
  left: 50%;
  bottom: 50%;
  scale: -1 1;
  overflow: hidden;
}

#inner-circle {
  z-index: -1;
  width: 6.6vw;
  height: 6.6vw;
}

#inner-circle .loading-rectangle {
  background: black;
}

.cursor-image {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--icon);
  height: var(--icon);
  display: none;
}

#wave {
  width: var(--icon);
  height: var(--icon);
  position: absolute;
  bottom: 5vw;
  left: 64vw;
  z-index: 20;
}

/* INSTRUCTIONS */
#ins-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 20;
  width: 100%;
}

/* home */
#ins-container.single {
  bottom: var(--ins-marginBottom);
  justify-content: space-around;
  font-size-adjust: var(--subtitle);
}
/* tree */
#ins-container.double {
  top: var(--ins-margin);
  justify-content: space-between;
  padding: 0 var(--ins-margin);
}

.instructions {
  justify-content: center;
  align-items: center;
  color: black;
  display: flex;
  flex-direction: row;
  gap: var(--spacer2);
}
.instructions > p {
  font-size: var(--instruction);
  font-family: IBMplex-mono;
  margin: 0;
}

/* home */
#home {
  gap: 0;
}

/* tree */
.instructions.tree {
  flex-direction: column;
  gap: 0;
  text-align: left;
}

.icon {
  width: 4vh;
}

.eng.tree {
  font-size: var(--testi);
  width: 100%;
}

#ins-centr {
  height: 100vh;
  width: 100%;
  position: absolute;
  text-align: center;
}
#hands-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacer1);
}
.hand {
  width: auto;
  height: var(--hand);
}

#subtitle {
  display: none;
  position: absolute;
  bottom: var(--ins-margin);
  width: 100%;
  justify-content: center;
  z-index: 5;

  text-align: center;
  font-size: var(--testi);
}
#sub {
  padding: var(--mini-spacer);
}

/* bottone per rivedere il tutorial breve */
#info {
  position: fixed;
  display: flex;
  left: var(--ins-margin);
  bottom: var(--ins-margin);
  z-index: 20;
}
#info > .icon {
  height: auto;
  width: var(--img-storyIntro);
}

/* per tornare all''inizio */
#backtostart {
  display: flex;
}
/* per tornare all''inizio */
/* #backtotree {
visibility: hidden;
} */

/* gradientss */
#gradient-left {
  /* visibility: hidden; */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50vw;
  height: 25vh;
  background: radial-gradient(
    ellipse at top left,
    var(--prak) 20%,
    rgba(0, 0, 0, 0) 50%
  );
}
#gradient-right {
  position: absolute;
  left: 100%;
  transform: translate(-100%, 0px);
  overflow: hidden;
  top: 0px;
  width: 50vw;
  height: 25vh;
  z-index: 20;

  background: radial-gradient(
    ellipse at top right,
    var(--prak) 20%,
    /* #87bdf3 20%, */ rgba(0, 0, 0, 0) 50%
  );
}
#gradient-bottom {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 17.5vw;
  width: 25vw;
  z-index: 4;
  background: radial-gradient(
    ellipse at bottom left,
    var(--prak) 20%,
    rgba(0, 0, 0, 0) 50%
  );
}

/* PLATFORM */
.platform {
  background-color: var(--bg-grey);
  font-size: var(--info);
  font-family: IBMplex-mono;
  text-align: center;
  width: fit-content;
  height: fit-content;
  z-index: 5;
}

/* //////////////////// */

/* WARNING */
#warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 25;
}
#warning-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 10;
}
.overlaybox {
  display: block;
  margin: auto;
  border: var(--prak) 2px solid;
  background-color: var(--bg-grey);
  width: auto;
  height: auto;
  padding: var(--spacer1);
  z-index: 10;
}
#endCounter {
  font-size: var(--subtitle);
  text-align: center;
  margin: 0;
}

/* //////////////////// */

/* STORY */
.image {
  width: var(--img-story);
  align-self: center;
  vertical-align: bottom;
}
.box {
  padding: var(--mini-spacer);
}
.info {
  font-family: IBMplex-mono;
  font-size: var(--info);
  padding-bottom: var(--mini-spacer);
}
.storycontainer {
  width: var(--img-story);
  position: absolute;
  /* display: block; */
  z-index: 25;

  border: solid var(--mini-spacer) var(--prak);
  background: #ffffff;
  font-size: var(--testi);
  box-sizing: content-box;

  transition: transform 0.1s ease-out;
}
.introcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: none;
  width: var(--intro-story);
  font-size: var(--subtitle);
  text-align: center;
  gap: var(--spacer3);
  /* line-height: 110%; */
  z-index: -1;
}
.introcontainer > .overlaybox {
  background-color: var(--prak);
  padding: 0;
  width: 100%;
}
#img-introS {
  width: var(--img-storyIntro);
}
#title > .eng {
  font-size: var(--testi);
}
.intro {
  text-align: left;
  font-size: var(--testi);
}

/* testi in evidenza nelle storie */
.highlight {
  background-color: var(--prak);
}

/* //////////////////// */

/* general */

.gap {
  gap: 1vh;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topleft {
  top: 0%;
  left: 0%;
}
.eng {
  opacity: 0.4;
}

/* //////////////////// */

/* ANIMAZIONI */

.fade-transition {
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
}

.fade-transition.visible {
  visibility: visible;
  opacity: 1;
}

@keyframes appear {
  from {
    visibility: hidden;
    opacity: 0%;
  }
  to {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes disappear {
  from {
    visibility: visible;
    opacity: 100%;
  }
  to {
    visibility: hidden;
    opacity: 0%;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(0deg);
  }
}

@keyframes pippo {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}
